@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;800;900&family=Montserrat:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,600&display=swap');
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
}

a {
    text-decoration: none;
    color: #000;
}

.container {
    display: block;
    width: 100%;
}

.right-row {
    overflow: hidden;
    float: right;
    width: 60%;
    height: 980px;
    background-color: #2B3FFF;
}

.right-row img {
    display: block;
    margin-top: 26%;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
}

.left-row {
    display: block;
    width: 40%;
    /* border: 1px solid #000; */
}

.left-wrap {
    display: block;
    width: 80%;
    margin-left: 20%;
    margin-right: auto;
}

.top {
    display: inline-block;
    width: 100%;
    margin-top: 4%;
}

.map-link {
    font-size: 16px;
    opacity: 30%;
    font-weight: 600;
}

#map {
    display: none;
    width: 1142px;
    height: 980px;
}

.reg {
    border: 1.5px solid #7784FF;
    float: right;
    margin-right: 28%;
    border-radius: 6px;
    padding: 6px;
}

.reg a {
    font-weight: 600;
    color: #2B3FFF;
}

.quest {
    margin-top: 28%;
}

.quest h2 {
    font-size: 18px;
}

.quest a {
    text-decoration: underline;
    color: #2B3FFF;
}

.welcome {
    font-size: 18px;
    margin-top: 2%;
}

.form-wrap {
    display: block;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 4%;
}

.form-wrap input {
    margin-top: 4%;
    width: 70%;
    height: 62px;
    font-size: 16px;
    font-weight: 600;
    border: none;
    border-radius: 8px;
    background-color: #EFEFF0;
}

input::-moz-focus-inner {
    border: 2px solid #2B3FFF;
}

input::placeholder {
    text-indent: 120px;
}

.form-wrap a {
    display: block;
    text-decoration: underline;
    color: #2B3FFF;
    margin-left: 46%;
    margin-top: 4%;
}

.form-wrap button {
    width: 70%;
    height: 42px;
    margin-top: 8%;
    background-color: #2B3FFF;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    border: none;
    border-radius: 6px;
    letter-spacing: 2px;
    cursor: pointer;
}

.fed-low {
    margin-top: 44%;
    font-size: 12px;
    width: 70%;
    text-align: center;
}

.fed-low a {
    color: #2B3FFF;
    text-decoration: underline;
}

.logo {
    display: inline-block;
    width: 18%;
}

.logo hr {
    display: block;
    margin-top: 2%;
    margin-left: 6%;
    width: 60%;
    opacity: 12%;
}

.logo-wrapper {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 8%;
}

.search {
    display: inline-block;
    position: relative;
    top: -20px;
    width: 20%;
    height: 32px;
    line-height: 42px;
    margin-left: 4%;
}

.search input {
    width: 80%;
    border-radius: 16px;
    padding: 12px 2rem;
    border: none;
    box-shadow: inset 0px 2px 8px rgba(0, 0, 0, 0.08);
}

.search button {
    display: inline-block;
    position: absolute;
    height: 42px;
    width: 28%;
    border-radius: 16px;
    border: none;
    background-color: #2B3FFF;
    color: #fff;
    font-weight: 600;
    left: 280px;
}

.small-profile {
    float: right;
    width: 20%;
}

.small-profile-img-wrap {
    display: inline-block;
    width: 64px;
    height: 64px;
    border-radius: 64px;
    margin-top: 4%;
    overflow: hidden;
}

.small-profile img {
    width: 100%;
}

.small-profile h3 {
    display: inline-block;
    position: relative;
    top: -42px;
    margin-left: 2%;
}

.small-profile p {
    display: block;
    position: relative;
    top: -32px;
    margin-left: 20%;
}

@media screen and (max-width: 375px) {
    .map-link {
        margin-top: 14%;
    }
    .left-row {
        width: 100%;
    }
    .right-row {
        display: none;
    }
}